<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title>Henry's Profile</title>
	<link rel=stylesheet type="text/css" href="./css/css_style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>

	<div class="container">

		<header>

			<div class="header_logo">
				<img src="./img/logo.png" alt="Photo Of Me" title="Me" height="100px" width="100px" >
			</div>

			<div class="header_info">
				This is my WebDesign Introduce Page 
			</div>

			<div class="nav">
				<% include header.ejs %>
				<script>
					$("li.menu_about a").removeClass("amenu").addClass("amenu sel");
				</script>
			</div>

			<div class="footer">
				<p class="footstyle">&copy; 2016 All Right Reserved. </p>
			</div>

		</header>


		<div class="sidebody">
				<p class="sidebody_title"> About Me </p>
				<table >
						<tr>
							<td> <img src="./img/me.jpg" alt="Photo Of Me" title="Me" height="450px" width="450px" > </td>
						</tr>
						<tr class= "profile_link">
							<td>
							 	<a href="mailto:henry2423@gmail.com "><img src="./img/mail_icon.ico" height="43px" width="43px" /></a>
							 	<a target="_blank" href="https://www.instagram.com/henrystimes/" ><img src="./img/ig_icon.png" height="43px" width="43px" /></a>
							    <a target="_blank" href="https://www.pinterest.com/henry2423/" ><img src="./img/Pinterest_icon.png" height="43px" width="43px" /></a>
							</td>
						</tr>
				</table>	
					

					<dl class="profile_info">
						<dt><b>Student Name:</b>  黃士軒</dt>
						<dt><b>Student ID:</b>  0416208</dt>
						<dt><b>Birth:</b>  1996/12/6</dt>
						<dt><b>Hobbies:</b>  Dance, Writing code, Playing Kendama</dt>
						<dt><b>Skill:</b>  C, C++, Photoshop, Python</dt>
					</dl>

		</div>		
	</div>


</body>
</html>


</html>