<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title>Henry's Profile</title>
	<link rel=stylesheet type="text/css" href="css_style.css">

</head>
<body>

	<div class="container">

		<header>

			<div class="header_logo">
				<img src="pic/logo.png" alt="Photo Of Me" title="Me" height="100px" width="100px" >
			</div>

			<div class="header_info">
				This is my WebDesign Introduce Page 
			</div>

			<div class="nav">
				<ul>
						<li class="menu"><a class="amenu" href="index.html" style="text-decoration:none;"> Home </a></li>
						<li class="menu sel"><a class="amenu sel" href="about.html" style="text-decoration:none;">About</a></li>
			    	 	<li class="menu"><a class="amenu" href="homework.html" style="text-decoration:none;">HomeWork</a></li>
				</ul>
				
			</div>

			<div class="footer">
				<p class="footstyle">&copy; 2016 All Right Reserved. </p>
			</div>

		</header>


		<div class="sidebody">
				<p class="sidebody_title"> About Me </p>
					<table >
						<tr>
							<td> <img src="pic/me.jpg" alt="Photo Of Me" title="Me" height="450px" width="450px" > </td>
						</tr>
						<tr align="right">
							<td>
							 	<a href="mailto:henry2423@gmail.com"><img src="pic/mail_icon.ico" height="43px" width="43px" /></a>
								<a target="_blank" href="https://www.instagram.com/henrystimes/" ><img src="pic/ig_icon.png" height="43px" width="43px" /></a>
							    <a target="_blank" href="https://www.pinterest.com/henry2423/" ><img src="pic/Pinterest_icon.png" height="43px" width="43px" /></a>
							</td>
						</tr>
					</table>
					

					<dl class="profile_info">
						<dt><b>Student Name:</b>  黃士軒</dt>
						<dt><b>Student ID:</b>  0416208</dt>
						<dt><b>Birth:</b>  1996/12/6</dt>
						<dt><b>Hobbies:</b>  Dance, Writing code, Playing Kendama</dt>
						<dt><b>Skill:</b>  C, C++, Photoshop, Python</dt>
					</dl>

		</div>		
	</div>


</body>
</html>


</html>