<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title>Henry's Profile</title>
	<link rel=stylesheet type="text/css" href="css_style.css">

</head>
<body>

	<div class="container">

		<header>

			<div class="header_logo">
				<img src="pic/logo.png" alt="Photo Of Me" title="Me" height="100px" width="100px" >
			</div>

			<div class="header_info">
				This is my WebDesign Introduce Page 
			</div>

			<div class="nav">
				<ul>
						<li class="menu"><a class="amenu" href="index.html" style="text-decoration:none;"> Home </a></li>
						<li class="menu"><a class="amenu" href="about.html" style="text-decoration:none;">About</a></li>
			    	 	<li class="menu sel"><a class="amenu sel" href="homework.html" style="text-decoration:none;">HomeWork</a></li>
				</ul>
				
			</div>

			<div class="footer">
				<p class="footstyle">&copy; 2016 All Right Reserved. </p>
			</div>

		</header>


		<div class="sidebody">
				<p class="sidebody_title"> HomeWork </p>

				<ul class="homework_list">
					<li class="homework_list">
						<a href="page/hw1/hw1-0416208-黃士軒.html" title="MyHomePage"> 
						<img src="pic/hw1.png" alt="MyHomePage"></a>
						<a href="page/hw1/hw1-0416208-黃士軒.html" tabindex="-1" class="homework_list_title">HW1.MyHomePage</a>
						<p class="homework_list_spec">使用CSS進行排版</p>
					</li>

					<li class="homework_list">
						<a href="hw1-0416208-黃士軒.html" title="MyHomePage2"> 
						<img src="pic/hw1s.png" alt="MyHomePage2"></a>
						<a href="hw1-0416208-黃士軒.html" tabindex="-1" class="homework_list_title">HW1.MyHomePage V2</a>
						<p class="homework_list_spec">重新排版 加入RWD設計(行動版尚未完成)</p>
					</li>

					<li class="homework_list">
						<a href="page/hw2/hw2-0416208-黃士軒.html" title="ReadMyMind"> 
						<img src="pic/hw2.png" alt="ReadMyMind"></a>
						<a href="page/hw2/hw2-0416208-黃士軒.html" tabindex="-1" class="homework_list_title">HW2.ReadMyMind</a>
						<p class="homework_list_spec">使用JavaScript進行排版 互動</p>
					</li>
				</ul>

		</div>		
	</div>


</body>
</html>


</html>